In [1]:
a, b = map(int, input().split())
print(a+b)

 1 2

3

###### 2845번: 파티가 끝나고 난 뒤

In [2]:
a, b = map(int, input().split())
i, j, k, l, m = map(int, input().split())
joinlist = [i, j, k, l, m]
multi = a*b

for i in joinlist:
    print(i - multi)

 5 20
 99 101 1000 0 97

-1
1
900
-100
-3

###### 2914번: 저작권

In [14]:
#//: 나누기 연산 후 소수점 이하의 수를 버리고, 정수 부분의 수만 구함
A, I = map(int, input().split())
print(A*(I-1)+1)

 38 24

875

###### 3003번: 킹, 퀸, 룩, 비숍, 나이트, 폰

In [8]:
whitelist = list(map(int, input().split()))
chess = [1, 1, 2, 2, 2, 8]
for i in range(len(whitelist)):
    print(chess[i] - whitelist[i], end=" ")

 0 1 2 2 2 7

1 0 0 0 0 1

###### 1010번: 다리 놓기

In [ ]:
T =

###### 3046번: R2

In [9]:
R1, S = map(int, input().split())
print(S*2 - R1)

 11 15

19

###### 5337번: 웰컴

In [23]:
#개행(줄바꿈), 공백, 특수기호(이스케이프 문자)를 포함하여 입력한 그대로 화면에 출력하기 위해서는 ‘’‘ ’‘’ 또는 “”“ ”“” 기호를 사용한다
print(""".  .   .
|  | _ | _. _ ._ _  _
|/\|(/.|(_.(_)[ | )(/.""")

.  .   .
|  | _ | _. _ ._ _  _
|/\|(/.|(_.(_)[ | )(/.

###### 5338번: 마이크로소프트 로고

In [24]:
print("""       _.-;;-._
'-..-'|   ||   |
'-..-'|_.-;;-._|
'-..-'|   ||   |
'-..-'|_.-''-._|""")

       _.-;;-._
'-..-'|   ||   |
'-..-'|_.-;;-._|
'-..-'|   ||   |
'-..-'|_.-''-._|

###### 5339번: 콜센터

In [37]:
#\ 문자를 전달하려면 \\
print("""     /~\\
    ( oo|
    _\=/_
   /  _  \\
  //|/.\|\\\\
 ||  \ /  ||
============
|          |
|          |
|          |""")

     /~\
    ( oo|
    _\=/_
   /  _  \
  //|/.\|\\
 ||  \ /  ||
============
|          |
|          |
|          |

###### 5522번: 카드 게임

In [1]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())
listi = [a,b,c,d,e]
sum = 0

for i in range(len(listi)):
    sum += listi[i]
    
print(sum)

 1
 2
 3
 4
 5

15

###### 5554번: 심부름 가는 길

In [12]:
list5554 = [ ]
sum5554 = 0

for _ in range(4):
    t = int(input())
    list5554.append(t)

for e in list5554:
    sum5554 += e
    
print(sum5554 // 60)
print(sum5554 % 60)

 31
 34
 7
 151

3
43

###### 6749번: Next in line

In [15]:
a = int(input())
b = int(input())
print(b+(b-a))

 12
 15

18

###### 7287번: 등록

In [23]:
print(18,'homechan77',sep='\n')

18
homechan77

In [21]:
print('18\nhomechan77')

18
homechan77

###### 8370번: Plane

In [24]:
list8370 = list(map(int, input().split()))
print((list8370[0]*list8370[1])+(list8370[2]*list8370[3]))

 2 5 3 20

70

###### 8393번: 합

In [35]:
# lambda 인자 : 표현식 / map(함수, 리스트)
list8393 = list(range(int(input())))
print(sum(map(lambda i: i+1, list8393)))

 3

6

In [36]:
#Python3 에서는 map(lambda)을 실행하면 리스트가 아니라 map 객체로 반환이 되며, 리스트로 반환을 받고 싶으면 list() 로 명시적으로 변환을 해주어야 한다.
list8393 = list(range(int(input())))
print(sum(list(map(lambda i: i+1, list8393))))

 3

6

###### 8437번: Julka

In [37]:
a = int(input())
b = int(input())
print((a+b)//2)
print((a-b)//2)

 10
 2

6
4

###### 9653번: 스타워즈 로고

In [38]:
print("""    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888""")

    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888

###### 9654번: 나부 함대 데이터

In [42]:
print("""SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21        
J-Type 327     Light Combat   Unlimited  1         
NX Cruiser     Medium Fighter Limited    18        
N1 Starfighter Medium Fighter Unlimited  25        
Royal Cruiser  Light Combat   Limited    4         """)

SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21
J-Type 327     Light Combat   Unlimited  1
NX Cruiser     Medium Fighter Limited    18
N1 Starfighter Medium Fighter Unlimited  25
Royal Cruiser  Light Combat   Limited    4

###### 10170번: NFC West vs North

In [43]:
print("""NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1""")

NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1

In [45]:
print("""\    /\\
 )  ( ')
(  /  )
 \(__)|""")

\    /\
 )  ( ')
(  /  )
 \(__)|

###### 10172번: 개

In [63]:
# ＼n (줄 바꿈),＼t (탭),＼b (백스페이스),＼＼ (백 슬래시),＼' (작은따옴표),＼" (큰따옴표)
#참고(https://ooyoung.tistory.com/11)
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

###### 10430번: 나머지

In [66]:
A, B, C = map(int, input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

 5 8 4

1
1
0
0

###### 10699번: 오늘 날짜

In [85]:
from datetime import datetime
print(datetime.today().strftime("%Y-%m-%d"))

2021-03-09

In [79]:
import time
now = time.localtime()
print("%04d-%02d-%02d" % (now.tm_year, now.tm_mon, now.tm_mday))

2021-03-09

In [87]:
print('강한친구 대한육군\n강한친구 대한육군')

강한친구 대한육군
강한친구 대한육군

In [88]:
a,b=map(int, input().split())
print(a+b)

 9223372036854775807 9223372036854775808

18446744073709551615

In [90]:
A,B=map(int, input().split())
print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

 7 3

10
4
21
2
1

In [92]:
print(input(), end='')
print('??!')

 joonas

joonas??!

In [93]:
A,B=map(int, input().split())
print(A*B)

 3 4

12

###### 11283번: 한글 2

In [99]:
#한글은 유니코드상에서 44032번째부터 정의되어 있다. 따라서 ord() 함수로 문자의 유니코드값을 알아내고 44031을 빼주면 몇 번째 문자인지 알 수 있다.
print(ord(input()) - 44031)

 백

4146

In [ ]:
n = int(input())
a = list(input())
a_len = len(a)
for i in range(n - 1):
    b = list(input())
    for j in range(a_len):
        if a[j] != b[j]:
            a[j] = '?'
print(''.join(a))
print(''.join(a))
print()